body { 
	position: relative;
}


.addSubtractRefresh { 
	color: rgb(248,193,83) !important;
	font-size: 16px;
	margin-right: 10px;
}

.addSubtractRefreshLink { 
	cursor: pointer;
	text-decoration: none;
}

#timer {
  font-weight: 700;
  text-align: center;
  margin: 0px 20px;
  width: 60px; 
}

#refreshMessage { 
	text-align: center;
	color: rgb(248,193,83);
}

#refreshMessageText { 
	font-size: 25px;
	color: rgb(248,193,83);
}

.time-btn {
	font-size: 60px; 
	color: rgb(248,193,83);	
}




#time { 
	font-weight: 700;
	margin: 0px 2px;	
	color: rgb(248,193,83);
}

hr { 
	margin: 50px 0px;
}

#timerDiv {
	border-radius: 50%; 
	width: 100px;
	height: 100px;
	border: 3px solid rgb(248,193,83);
}

.pickupButton {
    background-color: #00BD05;
}

.orderName { 
	width: 100%;
}

.fa-plus, .fa-minus { 
	font-size: 15px;
}

.bibIcon { 
	font-size: 16px;
}

.expandButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	font-size: 20px;
	margin-left: 5px;
}

.noCollapseAnimation {
    -webkit-transition: none;
    transition: none;
}

.timerButton { 
	margin: 0px 10px!important;
}

.donutPicture { 
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.purchaseTable { 
	width: 100%;
}

tr th { 
	font-weight: bold;
	background-color: rgba(248, 193, 83);
	color: white;
}

table { 
	border: 1px solid #eeeeee;
	border-radius: 10px !important;
	border-collapse: separate !important;
}

tr td, tr th { 
	padding: 10px 0px 10px 5px;
}

tr td {
	border: 1px solid #dddddd;
}

.customerOrderTable { 
	width: 100%;	
}

.orderName { 
	text-align: center;
}

.card-body { 
	max-height: 250px;
	overflow-y: scroll;
}

.customerProfile { 
	
}

.priceText { 
	margin-right: 5px;
}

.prices { 
	color: white !important;
	background-color: rgb(248,193,83) !important;
}

.prices, .customerProfile { 
	margin-top: 25px;
}

.customerProfileImage { 
	width: 150px;
	height: 150px;
}

.customerProfileText { 
	width: 40%;
	margin-left: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

label { 
	margin-right: 10px;
}

input:checked + .slider {
  background-color: rgb(248,193,83);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(248,193,83);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settingsText { 
	font-size: 20px;
}

#refreshAutomatic { 
	margin: 18px 0px;
	font-size: 25px;
}

#refreshIntervalRow{
	margin-bottom: 10px; 
	display: none;
}

#refreshManual { 
	margin: 18px 0px;
}

.form-group { 
	margin-bottom: 0px;
}

#timerRange { 
	width: 114px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
	  height: 20px;
      -webkit-appearance: none;
      background-color: white;
      border: 3px solid #dddddd;
	  border-radius: 15px;
	  cursor: pointer;
	}
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 5px;
      -webkit-appearance: none;
      height: 5px;
      background: rgb(248,193,83);
      box-shadow: -80px 0 0 80px rgb(248,193,83);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgb(248, 193, 83); 
}
input[type="range"]::-moz-range-track {  
  background-color: white;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgb(248,193,83);
}
input[type="range"]::-ms-fill-upper {  
  background-color:  white;
}

#timerDescription { 
	margin-top: 18px;
}

.timeparam { 
	width: 50px;
	margin: 0 10px;
}

.timeparambegin { 
	text-align: right;
}

#settingsHeader { 
	padding-bottom: 18px !important;
}

#refreshInterval { 
	text-align: center;
	width: 60px;
	margin: 0px 10px;
	font-size: 20px;
}

#refreshButtonDiv { 
	height: 50px;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	background-color: transparent;
	z-index: 10;
	pointer-events: none;
}

#refresh-settings-button { 
	margin: 16px 16px 0px 0px;
	pointer-events: auto;
}

#ordersToPrepareHeader { 
	padding-top: 0px !important;
}

@media only screen and (max-width: 767px) {
    #contentContainer {
        min-height: calc(100vh - 56px - 212px) !important;
    }
}

@media only screen and (min-width: 768px) {
    #contentContainer {
        min-height: calc(100vh - 56px - 164px) !important;
    }
} 
