body { 
	font-family: 'Jost', sans-serif;
}

.main-button-color{
    background-color: seagreen !important;
    color: white !important;
}
.main-button-color:hover{
    background-color: black !important;
}
.main-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}

.centerFlexboxHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
}   

.flexEndFlexboxHorizontal { 
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.flexStartFlexboxHorizontal { 
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.spaceEvenlyFlexboxHorizontal { 
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.flexStartFlexboxVertical { 
	display: flex;
	flex-direction: column;
	jusity-content: flex-start;
	align-items: center;
}

.centerFlexboxVertical { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spaceEvenlyFlexboxVertical { 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}


.spaceAroundFlexboxVertical { 
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.spaceBetweenFlexboxHorizontal { 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.spaceBetweenFlexboxVertical { 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}




h1, h2, h3, h4, h5, h6 { 
	text-align: center;
}

.alert { 
	text-align: center;
}

#sidebarDiv { 
	height: 100vh;
	position: fixed;	
	z-index: 5;
}

#sidebarButtonCollection { 
	width: 100%;
	border-radius: 5px;
	background-color: rgba(248,193,83,1);
}

.sidebarButton { 
	font-size: 35px;
	color: white;
	padding: 5px 10px;
	font-weight: bold; 
}

.nav-item { 
	margin-left: 4px;
}

.modal-block { 
	padding: 20px 0px;
}

.donutPicture {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.alert-secondary { 
	margin: 0 1%;
	padding: 10px;
}

.nav-link, .navbar-brand { 
	/*color: white;*/
}

.nav-link:hover, .navbar-brand:hover { 
	color: #eeeeee;
}

#navbarNav { 
	justify-content: flex-end;
}

.navbar-toggler { 
	border: 1px solid white;
}

.alert-warning { 
	background-color: rgba(248,193,83, 0.9); 
	border: 1px solid rgb(248,193,83, 0.9);
	color: white;
}

.alert-success {
	background-color: #63C9D7;
	border-color: #63C9D7;
	color: white;
}

.alignCenter { 
	align-items: center;
}

.skippyBox { 
	margin-top: 50px;
}

/*.skippyImageDiv { 
	height: 100%;
}*/

@media only screen and (max-width: 992px) { 
	.nav-link {
		text-align: center;
	} 
	.navbar { 
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
	}
	.navbar-brand { 
		margin-left: 10px;
	}
	.navbar-toggler { 
		position: absolute;
		top: 9px;
		right: 10px;
	}
}

.footerText { 
	margin-bottom: 0px;
}

h2 { 
	padding: 50px 0px;
}

#footer {
	min-height: 50px;
	margin-top: 50px;
	width: 100%;
	background-color: #343a40;
	color: white;
	padding: 8px 30px;
}

.orderButton {
   border-radius: 5px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   margin-left: 5px;
}

.dropButton {
    color: rgb(248,193,83);
    background-color: white;
    border: 2px solid rgb(248,193,83);
}

.prepareNotifyButton, .serveNotifyButton {
    background-color: rgb(248,193,83);
    border: 2px solid rgb(248,193,83);
    color: white;
}

.modalButton {
    padding: 6px 12px;
}

.barInformationBox {
    border: 7px solid rgb(248,193,83);
    border-radius: 5px;
    height: 250px;
}

.barInformationText {
    text-align: center;
    height: 100px;
    width: 80%;
}

.barInformationHeader {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.skippyImage { 
	height: 100%;
	width: 100%;
	border: 7px solid transparent;	
}

.buttonDiv {
    width: 100%;
}

.barInformationButton {
    background-color: rgb(248,193,83);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 5px 10px;
}

#mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #eeeeee;
    z-index: 10;
}

#maskBox {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 11;
}


@media only screen and (max-width: 767px) {
	#contentContainer { 
		min-height: calc(100vh - 56px - 162px); 
	}
}

@media only screen and (min-width: 768px) {
	#contentContainer { 
		min-height: calc(100vh - 56px - 114px);
	} 
}

hr {
  margin: 30px 0px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.skippy-badge { 
	background-color: #FEC652;
	color: white;
	position: absolute;
	top: 5px;
	z-index: 10;
	font-size: 10px;
}

.skippy-absolute { 
	top: 5px;
	left: 5px;
}

.skippy-static {
	margin-left: 5px; 
	position: static;
}

.skippy-left { 
	left: 5px;
}

.skippy-right { 
	right: 5px;	
}

.form-control[disabled] {
    background-color: #f8f8f8 !important;
}

.inputTopper {
    right: 2px;
    top: 2px;
    font-size: 14px;
    position: absolute;
	z-index: 50;
}

.invalid-feedback {
    color: rgb(248,193,83) !important;
}

.is-invalid {
    border-color: rgb(248,193,83) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8c149' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f8c149' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
}

.profilePictureDiv {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
}

.profilePictureBanner {
    width: 100%;
    height: 20px;
    left: 0;
    position: absolute;
    bottom:0;
    background-color: rgb(248,193,83);
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 14px;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus {
  border-color: 1px solid gray;
  box-shadow: none;
  outline: 0 none;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="url"]:invalid,
input[type="tel"]:invalid {
  border-color: rgb(248,193,83);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(248,193,83);
  outline: 0 none;
}

.form-control.is-invalid:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(248,193,83)
}


.profilePicture {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

.special-label { 
	font-weight: bold;
}

#refreshButtonDiv { 
	display: none;
}

.email-link { 
	text-decoration: underline;
	font-weight: bold;
}

.email-link:hover {
	color: #dbdbdb;
} 

