#customer-all{
}
#customer-banner{
	background: #ededed;
	padding: 20px 200px;
}
#menu-selector{
	background-color: white;
	padding: 20px 200px;
}
#customer-menu{
	background: #ededed;
	padding: 0px 15%;
}
.checkin-warn{
	text-align: center;
	background: #C5E7EE;
	padding: 15px 15%;
	border-radius: 25px;
	margin: 20px;
}
.menu-warn{
	text-align: center;
	background: #FFDA85;
	padding: 15px 15%;
	border-radius: 25px;
	margin: 20px;
}
.purchase-warn{
	text-align: center;
	background: #FFDA85;
	padding: 45px 15%;
	border-radius: 25px;
	margin: 40px 15%;
}
nav a{
	margin: 0px 10px !important;
}

@media (max-width: 800px) {
	.purchase-warn{
		padding: 15px;
		margin: 40px 15px;
	}
	.menu-warn{
		padding: 15px;
	}
	.checkin-warn{
		padding: 15px;
	}
	#customer-banner{
		padding: 20px 30px;
	}
	#customer-menu{
		padding: 0px 2%;
	}
	#menu-selector{
		padding: 20px 30%;
	}
}
@media (max-width: 576px) {
	#customer-banner{
		padding: 10px 10px;
	}
	#menu-selector{
		padding: 20px 10px;
	}
	#customer-menu{
		padding: 0px;	
	}
	#bar-info{
		padding-bottom: 10px;
	}
	#bar-pic{
		padding-bottom: 10px;
	}
	#cust-info{
		padding-top: 10px;
	}
	#cust-pic{
		padding-top: 10px;
	}
}

.navbar-toggler{
	position: unset;
	top: 0px;
	right: 0px;
}
.skippy-nav{
	justify-content: space-between;
}

.center-col{
	text-align: center;
}
.circle-img{
	border-radius: 50%;
	width: 100%;
}
.sq-img{
	border-radius: 20px;
	width: 100%;
}

.menu-selector-row{
	justify-content: center;
	display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.menu-selector-btn{
	background: transparent;
	color: #d4aa4a;
	border: 0px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
.selected{
	border-bottom: 4px solid #95e7ee; 
	color: #63C9D7;
}

.menu-selector-btn:hover{
	color: #95E7EE
}

.menu-row{
	margin: 0px 10px;
}
@media (min-width: 576px) {
	.menu-row{
		margin: 0px 80px;
	}
}
.drink-card{
	margin: 0px !important;	
	background-color: #FEC652;
	border-color: transparent;
	font-weight: bold;
}
.drink-card-body{
	padding: 5px;
	text-align: center;
}
.drink-all{
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.drink-row{
	padding: 10px 10px;
}
.drink-row div{
	align-self: center !important;
	
}
.drink-info{
	padding: 0px;
	padding-right: 5px;
}

.drink-pic{
	padding: 0px;
	padding-left: 0px;
}
.drink-img{
	border: 2px solid #95E7EE;
}

.ingred-row-modal{
	justify-content: space-around;
	margin: 10px 20px;
	text-align: center;
}
.ingred-pic{
	padding: 0px;
}
.ingred-img{
	border: 2px solid #95E7EE;
	width: 70%;
}

.shadow{
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow:focus{
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#cust-pic img{
	border: 2px solid #FFDA85;
}
#bar-pic img{
	border: 2px solid #95E7EE;
}
.drink-modal{
	border: 6px solid #FEC652;
}
.drink-header-modal{
	text-align: center;
	vertical-align: middle;
}
.drink-name-modal{
	align-self: center !important;
	width: 100%;
	color: #63C9D7;
	padding: 0px;
}
.drink-brand-modal{
	color: #FEC652;
}
.drink-col-modal{
	text-align: center;
}
.drink-row-modal{
	justify-content:space-between;
	margin:0px 20px;
}
#drink-dropdown-modal{
	background: #63C9D7;
	color: white;
}
.drink-style-modal:active{
	background-color: #FEC652 !important;
	color: white !important;
}

.dropdown-div-modal{
	margin: 10px 0px;
}
.modal-footer{
	justify-content: space-between;
}
#drinkQuantity{
	text-align: center;
}
.add-drink-to-cart-btn{

}
.skippy-btn{
	background: #D4AA48;
	color: white;
}
.skippy-btn:hover{
	background: #C5E7EE;
	color: #4D4D4D;
}
.centered{
	text-align: center;
}

#Beer{
	
}
#Beer:focus{
	outline: 0px;
}
#Cocktail{

}
#Cocktail:focus{
	outline: 0px;
}
#Shot{

}
#Shot:focus{
	outline: 0px;
}


#checkInBarName{
	color: white;
	padding: 40px 40px 10px 40px;
}
#checkInBarAddress{
	padding: 20px;
}
.bar-checkin{
	padding: 10px 15%;
	background: #B8B8B8;
}
.checkin-offers{
	margin: 30px 10%;
	text-align: center;
}
@media (max-width: 800px) {
	.bar-checkin{
		padding: 10px 5%;
	}
	.checkin-offers{
		margin: 30px 5%;
	}
	#checkInBarName{
		padding: 10px;
	}
}

.checkin-card{
	border: 2px solid #63C9D7;
}
.checkin-body{
	background: #EDEDED;
}
.checkin-header{
	color: #63C9D7;
	font-weight: bold;
}
.checkin-price{
	color: #63C9D7;
}
.checkin-btn{
	background: #FEC652;
	color: white;
}
.checkin-btn:hover{
	background: #95E7EE;
	color: #343A40;
}
.checkin-btn:focus{
	outline: 0px;
	box-shadow: 0 0 0 0;
}
#bar-dropdown{
	background: #FEC652;
	color: white;
	border: 0px;
}
.dropdown-menu{
	background: #63C9D7;
}
.bar-item{
	color: white;
}
.bar-item:hover{
	background: #C5E7EE;
	color: #343A40 !important;
	cursor: pointer;
}
.warn-menu-btn{
	background: #FEC652;
	color: white;
}
.warn-menu-btn:hover{
	background: #4D4D4D;
	color: #95E7EE;
}
.warn-menu-btn:focus{
	outline: 0px;
	box-shadow: 0 0 0 0;
}
.menu-warn-title{
	padding: 15px;
	margin: 0px;
	color: white;
}
.checkin-warn-title{
	padding: 15px;
	margin: 0px;
	color: #4D4D4D;
}
.add-drink-form{
	display: unset;
	justify-content: space-between;
}


.none{
	display: none;
}
.orders-table{
	border-radius: 15px !important;
	overflow: hidden;
}
.total-table{
	border-radius: 15px !important;
	overflow: hidden;
	width: 100%;
	margin: 0px;
}
.orders-container{
	margin: 40px;
}
.skippy-td{
	vertical-align: middle !important;
	overflow: hidden;
}
.checkout-col{
	vertical-align: middle;
}
#quantityNew{
	border: 2px solid #4D4D4D;
	text-align: center;
	height: 60px;
	font-size: 40px;
}
.orders-title{
	margin-bottom: 40px;
}
.tip-div{
	display: flex;
	width: 60%;
	text-align: center;
	margin: 0px;
}
.order-screen{
	background-color: #FFDA85;
	margin: 50px 20%;
	border-radius: 15px;
	padding: 10px;
}
.purchases-title{
	padding: 0px;
}
.purchase-status-row{
	margin: 20px 10%;
	min-height: 150px;
}
.status-col{
	text-align: center;
}
.status-title{
	padding: 20px;
}
.purchases-info-row{
	margin: 30px 0px;
}
.orders-title{
	
}
@media (max-width: 576px) {
	.order-screen{
		background-color: #949494;
		margin: 10px;
		border-radius: 15px;
		padding: 10px;
	}
	.orders-container{
		margin: 10px;
	}
	.orders-title{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
