.chart-image-div { 
	width: 100%;
}

.chart-image { 
	height: 50%;
	width: 50%;
}

.section-header { 
	text-align: center;
	color: #949494;
	padding: 15px 0px !important;
}

td{ 
	text-align: center;
	color: #949494;
}

#sort-earnings-select {
    margin-bottom: 50px;
}

#sort-earnings-select-text { 
	margin-right: 5px;
}

@media only screen and (max-width: 992px) { 
	.earnings-column { 
		margin-bottom: 50px;
	}
}
