#create-account, #log-in { 
	width: 100%;
	height: 100%;
	padding: 50px 10px;
	width: 100%;
	position: relative;
	border-radius: 10px;
	background-color: #343a40;
}

.skippy-icon-circle { 
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.skippy-icon-div { 
	position: absolute;
	top: -40px;
	width: 100%;
}
.row { 
	width: 100%;
}

.form-group, #confirm-button, #create-account-message { 
	width: 80%;
}

.container { 
	margin: 0px !important;
}

#confirm-button { 
	background-color: #FEC652;
	color: white;
}

#footer { 
	margin-top: 0px;
}

#contentContainer { 
	min-height: 100vh;
}

.form-header { 
	margin-bottom: 20px;
	color: white;
	padding: 0px;
}

#create-account-message { 
	margin-top: 20px;
	color: white;
}

.create-account-link, .login-link { 
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.create-account-link:hover, .login-link:hover { 
	color: #DBDBDB;
}

#contentContainer { 
	width: 100%;
}

#create-account { 
	display: none;
}

#invalid-login-alert, #invalid-create-account-alert { 
	display: none;
}

.spinner-border.text-warning { 
	color: #FEC652;
	margin: 0px 0px 20px 10px;
	display: none;
}

#footer { 
	display: none;
}

body { 
	height: 100vh;
}
