@media only screen and (max-width: 767px) {
    .whole-viewport {
        height: calc(100vh - 56px - 112px);
    }
}

@media only screen and (min-width: 768px) {
    .whole-viewport {
        min-height: calc(100vh - 56px - 64px);
    }
}

.fname-lname-username {
	width: 100%;
	height: 100%; 
	font-size: 20px;
	color: white;
}

.profile-picture { 
	width: 100%;
}

.row { 
	width: 100%;
}

#footer { 
	margin-top: 0px !important;
}

#status-row  { 
	margin-top: 25px;
}
