h2 { 
	text-align: left !important;
}

/*body { 
	filter: blur(5px);
}*/

.input-group { 
	position: relative;
}

.settingsHeader { 
	position: relative;
}

.saveMessage { 
	position: absolute;
	right: 0px;
	top: 57px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus {   
  border-color: rgb(200,200,200);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(200,200,200);
  outline: 0 none;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="url"]:invalid,
input[type="tel"]:invalid {   
  border-color: rgb(248,193,83);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(248,193,83);
  outline: 0 none;
}

.form-control.is-invalid:focus { 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(248,193,83)
}

#incorrectPasswordChange { 
	display: none;
}

input[type="file"] { 
	display: none;
}

.profilePictureDiv { 
	width: 150px;
	height: 150px;
	position: relative;
	cursor: pointer;
}

.profilePictureBanner { 
	width: 100%;
	height: 20px;
	left: 0;
	position: absolute;
	bottom:0;
	background-color: rgb(248,193,83);
	color: white;
	opacity: 0.9; 
	text-align: center;
	font-size: 14px;
}

.profilePicture { 
	width: 100%;
	height: 100%;
	border: 1px solid gray;
}
