.menu-item-modal-launcher { 
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-item-image { 
	width: 100%;
	opacity: 0.15;
	border-radius: 10px;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.add-item-icon { 
	font-size: 42px;
	font-weight: 700;
}

.add-item-text { 
	font-weight: 500;
	font-size: 30px;
	margin-left: 10px;
}

.menu-item-price { 
	font-size: 20px;
	font-weight: bolder;
}

.menu-item-div {
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%; 

}

#add-item-icon-div { 
	border: 7px solid white;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	text-align: center;
}

.menu-item-image-div { 
}

.menu-item-column { 
	margin-bottom: 30px;
}

.menu-item-brand { 
	font-size: 16px;
	text-align: center;
	font-weight: bolder;
}

.add-item-modal-launcher { 
	border: 3px solid #FEC652;
	background-color: #FEC652;
	color: white; 
}

.menu-item-modal-launcher:active {
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#sort-menu-select { 
	margin-bottom: 50px;
}

#sort-menu-select-text { 
	margin-right: 5px;
}

.menu-item-name {
	padding: 0%  10px;
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
}

.menu-item-size-container{ 
	width: 100%;	
}

.menu-item-size, .menu-item-container { 
	padding: 0px 5px;
}


.createMenuButton { 
	width: 48%;
	margin: 0px 1%;
	text-align: center;
}

#backButton {
    border-radius: 25%;
    margin-right: 5px;
}

#browseItemsForm { 
	display: none;
}

#chooseHeader { 
	display: none;
	font-weight: bolder;
}

.autocomplete-input { 
	position: relative;
}

#autocomplete-div { 
	position: absolute;
	display: none;
	width: calc(100% - 42px);
	top: 58px;
	right: 0px;
	background-color: #EDEDED;
	max-height: 250px;
	overflow-y: scroll;
	cursor: pointer;	
	z-index: 50;
}

.autocomplete-item { 
	width: 100%;
	padding: 5px;
}

.autocomplete-item:hover { 
	background-color: #FFE5CB;
}

.inputTopper { 
	top: 22px !important;
	display: none;
}

.field-explanation { 
	font-weight: bold;
}

#invalid-drink-alert, #invalid-special-alert { 
    display: none; 
}

.mandatory { 
	font-weight: bold;
}

.btn-block {
	background-color: #FEC652;
	border-color: #FEC652;
}

.btn-block:hover { 
	background-color: #FEC652;
	border-color: #FEC652;
}

.btn-secondary:focus { 
	box-shadow: 0 0 0 0.2rem #FEC652;
}

#special-data { 
	display: none;
}

#no-specials-alert { 
	margin-bottom: 20px;
}

.date-input { 
	width: 100%;
}

.modal-footer { 
	position: relative;
}

.modal { 
	overflow-y: scroll;
}

.start-end-group { 
	flex-direction: column;
}

.start-end-group input { 
	width: 100% !important;
}
