{% extends 'bar_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bar_dashboard.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/bar_dashboard.js')}}"></script>
{% endblock %}

{% block content %}

<div class="row skippyBoxCollection">
	<div class="col-lg-4 col-md-6 col-12 skippyBox order-first">
		<div class="barInformationBox spaceEvenlyFlexboxVertical" id="loginInfo">
			{% if bar['COMPLETE_PROFILE'] %}
			<div class="barInformationHeader">Logged In As</div>
			<div class="barInformationText centerFlexboxVertical">
				<div>
				{{bar['NAME']}} (<b>@{{bar['USERNAME']}}</b>) <br>
				{{bar['STREET_ADDRESS']}} <br> {{bar['CITY']}}, {{bar['STATE']}} {{bar['ZIP']}}
				</div>
			</div>
			{% else %}
			<div class="barInformationHeader">Incomplete Profile</div>	
			<div class="barInformationText centerFlexboxVertical">
				Finish filling out your profile and give customers the whole experience by clicking the button below. 
			</div>
			{% endif %}
			<div class="buttonDiv centerFlexboxHorizontal">
				<button class="barInformationButton" onclick="changeURL('settings')"><i class="fas bibIcon fa-cog"></i> Settings</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-12 skippyBox centerFlexboxVertical order-2">
		<div class="spaceEvenlyFlexboxVertical skippyImageDiv">
			<img class="skippyImage" src="{{url_for('static',filename='data/bar_pic2-min.jpg')}}">
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-12 skippyBox order-3 order-md-4 order-lg-3">
		<div class="barInformationBox spaceEvenlyFlexboxVertical">
			<div class="barInformationHeader">Current Menu</div>
			<div class="barInformationText centerFlexboxHorizontal"> 
				<div>With Skippy Cup, keeping your drink selection up to date has never been easier. </div>
			</div>
			<div class="buttonDiv centerFlexboxHorizontal">
				<button class="barInformationButton" onclick="changeURL('update_menu')"><i class="fas bibIcon fa-book-open"></i> Update Menu</button>
			</div>
		</div>
	</div>	
		<div class="col-lg-4 col-md-6 col-12 skippyBox centerFlexboxVertical order-4 order-md-3 order-lg-4">
		<div class="spaceEvenlyFlexboxVertical skippyImageDiv">
			<img class="skippyImage" src="{{url_for('static',filename='data/bar_pic1-min.jpg')}}">
		</div>
	</div>		
	<div class="col-lg-4 col-md-6 col-12 skippyBox order-5 ">
		<div class="barInformationBox spaceEvenlyFlexboxVertical">
			<div class="barInformationHeader">Skippy Trends</div>
			<div class="barInformationText centerFlexboxVertical">Easily track and analyze your bar's business with simple statistics from Skippy Cup.</div>
			<div class="buttonDiv centerFlexboxHorizontal">
				<button class="barInformationButton" onclick="changeURL('earnings')"><i class="fas bibIcon fa-chart-pie"></i> View Earnings</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-12 skippyBox centerFlexboxVertical order-last">
		<div class="spaceEvenlyFlexboxVertical skippyImageDiv">
			<img class="skippyImage" src="{{url_for('static',filename='data/bar_pic3-min.jpg')}}">
		</div>
	</div>
</div>

{% endblock %}
