{% extends 'base.html' %}

{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}


{% block body %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="{{url_for('bar_dashboard')}}"><img src="{{url_for('static', filename='data/beer.png')}}" width="30" height="30" class="d-inline-block align-top" alt=""> Skippy Cup <b>BAR</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" id="bartender">
        <a class="nav-link" href="{{url_for('bartender')}}"><i class="fas fa-cocktail"></i> Bartender</a>
      </li>
      <li class="nav-item" id="update_menu">
        <a class="nav-link" href="{{url_for('update_menu')}}"><i class="fas fa-book-open"></i> Update Menu</a>
      </li>
      <li class="nav-item" id="earnings">
        <a class="nav-link" href="{{url_for('earnings')}}"><i class="fas fa-chart-bar"></i> Earnings</a>
      </li>
      <li class="nav-item" id="settings">
        <a class="nav-link" href="{{url_for('settings')}}"><i class="fas fa-cog"></i> Settings</a>
      </li>
      <li class="nav-item" id="logout">
        <a class="nav-link" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div id="refreshButtonDiv" class="flexEndFlexboxHorizontal alignCenter"><button onclick="showRefreshSettings()" id="refresh-settings-button" class="dropButton orderButton"><i class="fas fa-info-circle"></i> Refresh</button></div>
<div class="container" id="contentContainer">
{% block content %}{% endblock %}
</div>
<!-- Modal -->
<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="theModalTitle"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="theModalBody"></div>
      <div class="modal-footer">
        <button type="button" id="theModalButton1" class="modalButton orderButton dropButton closeFirstModal"></button>
        <button type="button" id="theModalButton2" class="modalButton orderButton prepareNotifyButton"></button>
      </div>
    </div>
  </div>
</div>
<!-- Warning Modal -->
<div class="modal fade" id="theWarningModal" tabindex="-1" role="dialog" aria-labelledby="theModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="theModalTitle">Cancel Changes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="theWarningModalBody"><b>Are you sure you want to cancel?</b> Changes will not be saved.</div>
      <div class="modal-footer">
        <button type="button" id="theWarningModalButton1" class="modalButton orderButton dropButton reopenFirstModal">Continue</button>
        <button type="button" id="theWarningModalButton2" class="modalButton orderButton prepareNotifyButton confirmClosed" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
