{% extends 'bar_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bartender.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/bartender_jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bartender.js')}}"></script>
{% endblock %}


{% block content %}

<div id="theTwoQueues">
{% include 'bartending_data.html' %}
</div>

{% endblock %}
