
	<h2 id="ordersToPrepareHeader">Orders to Prepare</h2>
		
		{% if not drinks_ordered %}
		<div class="alert alert-warning" role="alert" id="drinksPreparedAlert">
			<b>All ordered drinks have been prepared!</b> Stay tuned for more.
		</div>
		{% else %}
		<div id="drinksOrderedAccordion">
		{% for drink_order in drinks_ordered %}
			<div class="card" id="card-{{drink_order['PURCHASE_ID']}}">
				<div class="card-header">		
					<div class="row">
						<div class="col-4 col-lg-3 centerFlexboxVertical"><div class="orderTime"><b><i class="far fa-clock"></i> {{drink_order['ORDER_TIME']}}</b></div></div>
						<div class="col-4 col-lg-6 centerFlexboxVertical"><div class="orderName centerFlexboxHorizontal">
							<div>
								{% if drink_order['PROFILE_PICTURE'] %} <img class="donutPicture" src="{{url_for('static', filename='data/users/'~ drink_order['CUST_ID'] ~'.jpg')}}">{% endif %}
								{{drink_order['FIRST_NAME']}} {{drink_order['LAST_NAME']}} (<b>@{{drink_order['USERNAME']}}</b>)
							</div>
						</div></div>
						<div class="col-4 col-lg-3 centerFlexboxVertical">
							<div class="orderButtons flexEndFlexboxHorizontal">
								<button class="orderButton dropButton" id="dropButton{{drink_order['PURCHASE_ID']}}"><i class="fas fa-trash-alt"></i> <span class="d-none d-xl-inline-block"> DROP</span></button>
								<button class="orderButton prepareNotifyButton" id="prepareNotifyButton{{drink_order['PURCHASE_ID']}}"><i class="fas fa-check"></i> <span class="d-none d-xl-inline-block"> DONE</button>
								<button class="expandButton expandPreparing" id="expandIcon{{drink_order['PURCHASE_ID']}}">&#9660;</button>
							</div>		
						</div>
					</div>	
				</div>
				<div class="collapse preparingCollapse" id="detailsDiv{{drink_order['PURCHASE_ID']}}" data-parent="#drinksOrderedAccordion">
					<div class="card-body">
						<div class="container">
							<div class="customerOrders">
								 <table class="customerOrderTable table-striped table-lg rounded">
									<tr id="customerOrderTableHeaders">
										<th style="width:10%"><b>Qty</b></th>
										<th style="width:30%"><b>Menu Item</b></th>
										<th style="width:60%"><b>Customer Notes</b></th>
									</tr>
									{% set drink_order_items = drink_order['DRINK_INFO'].split('|') %}
									{% for doi in drink_order_items %}
										{% set curr = doi.split(',') %}
										<tr>
											<td>{{curr[1]}}</td>
											<td>
												{% if curr[7] %}
												<img class="donutPicture" src="{{url_for('static', filename='data/items/' ~ curr[5] ~ '.jpg')}}">
												{% endif %}
												{{curr[6]}}
												
                                                {% if curr[3]|int > 0 or curr[4] != "N/A" %}(<b>{% endif %}{% if curr[3] | int > 0 %}{{curr[3]}} oz{% endif %}{% if curr[4] != "N/A" %}{% if curr[3]%} {% endif %}{{curr[4]}}{% endif %}{% if curr[3]|int > 0 or curr[4] != "N/A" %}</b>){% endif %}
											</td> 
											<td> {{curr[2]}}</td>
										</tr>
									{% endfor %}
								</table>
								<div class="card prices">
									<div class="card-header">
										<div class="spaceBetweenFlexboxHorizontal">
											<div><b class="priceText">Subtotal:</b> ${{drink_order['FINAL_COST']}}</div>
											<div><b class="priceText">Tip:</b> ${{drink_order['FINAL_TIP']}}</div>
											<div><b class="priceText">Total:</b> ${{drink_order['TOTAL']}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="customerProfile flexStartFlexboxHorizontal">
								<img class="customerProfileImage" src="
									{% if drink_order['PROFILE_PICTURE'] %} {{url_for('static', filename='data/users/'~ drink_order['CUST_ID'] ~'.jpg')}} 
									{% else %} {{url_for('static', filename='data/blank-profile-picture.png')}} 
									{% endif %}">
								<div class="customerProfileText">
									<div><b>First name:</b> {{drink_order['FIRST_NAME']}}</div>
									<div><b>Last name:</b> {{drink_order['LAST_NAME']}}</div>
									<div><b>Username: </b> {{drink_order['USERNAME']}}</div>
									<div><b>Purchase Method:</b> {{drink_order['PURCHASE_METHOD']}}</div>
								</div>		
							</div>	
						</div>	
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		{% endif %}

	<h2>Orders to Serve</h2>


		{% if not drinks_prepared %}
		<div class="alert alert-warning" id="drinksServedAlert" role="alert">
			<b>All prepared drinks have been served!</b> Stay tuned for more.
		</div>
		{% else %}
<div id="drinksPreparedAccordion">
		{% for drink_order in drinks_prepared %}
			<div class="card" id="card-{{ drink_order['PURCHASE_ID']}}">
				<div class="card-header">		
					<div class="row">
						<div class="col-4 col-lg-3 centerFlexboxVertical"><div class="orderTime"><b><i class="far fa-clock"></i> {{drink_order['ORDER_TIME']}}</b></div></div>
						<div class="col-4 col-lg-6 centerFlexboxVertical"><div class="orderName centerFlexboxHorizontal">
							<div>
								{% if drink_order['PROFILE_PICTURE'] %} <img class="donutPicture" src="{{url_for('static', filename='data/users/'~ drink_order['CUST_ID'] ~'.jpg')}}">{% endif %}
								{{drink_order['FIRST_NAME']}} {{drink_order['LAST_NAME']}} (<b>@{{drink_order['USERNAME']}}</b>)
							</div>
						</div></div>
						<div class="col-4 col-lg-3 centerFlexboxVertical">
							<div class="orderButtons flexEndFlexboxHorizontal">
								<button class="orderButton dropButton" id="dropButton{{drink_order['PURCHASE_ID']}}"><i class="fas fa-trash-alt"></i> <span class="d-none d-xl-inline-block"> DROP</span></button>
								<button class="orderButton serveNotifyButton" id="serveNotifyButton{{drink_order['PURCHASE_ID']}}"><i class="fas fa-check"></i> <span class="d-none d-xl-inline-block"> DONE</button>
								<button class="expandButton expandServing" id="expandIcon{{drink_order['PURCHASE_ID']}}">&#9660;</button>
							</div>		
						</div>
					</div>	
				</div>
				<div class="collapse servingCollapse" id="detailsDiv{{drink_order['PURCHASE_ID']}}" data-parent="#drinksPreparedAccordion">
					<div class="card-body">
						<div class="container">
							<div class="customerOrders">
								 <table class="customerOrderTable table-striped table-lg rounded">
									<tr id="customerOrderTableHeaders">
										<th style="width:10%"><b>Qty</b></th>
										<th style="width:30%"><b>Menu Item</b></th>
										<th style="width:60%"><b>Customer Notes</b></th>
									</tr>
									{% set drink_order_items = drink_order['DRINK_INFO'].split('|') %}
									{% for doi in drink_order_items %}
										{% set curr = doi.split(',') %}
										<tr>
											<td>{{curr[1]}}</td>
											<td>
												{% if curr[7] %}
												<img class="donutPicture" src="{{url_for('static', filename='data/items/' ~ curr[5] ~ '.jpg')}}">
												{% endif %}
												{{curr[6]}}
												
												{% if curr[3]|int > 0 or curr[4] != "N/A" %}(<b>{% endif %}{% if curr[3] | int > 0 %}{{curr[3]}} oz{% endif %}{% if curr[4] != "N/A" %}{% if curr[3]%} {% endif %}{{curr[4]}}{% endif %}{% if curr[3]|int > 0 or curr[4] != "N/A" %}</b>){% endif %}
											</td> 
											<td> {{curr[2]}}</td>
										</tr>
									{% endfor %}
								</table>
								<div class="card prices">
									<div class="card-header">
										<div class="spaceBetweenFlexboxHorizontal">
											<div><b class="priceText">Subtotal:</b> ${{drink_order['FINAL_COST']}}</div>
											<div><b class="priceText">Tip:</b> ${{drink_order['FINAL_TIP']}}</div>
											<div><b class="priceText">Total:</b> ${{drink_order['TOTAL']}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="customerProfile flexStartFlexboxHorizontal">
								<img class="customerProfileImage" src="
									{% if drink_order['PROFILE_PICTURE'] %} {{url_for('static', filename='data/users/'~ drink_order['CUST_ID'] ~'.jpg')}} 
									{% else %} {{url_for('static', filename='data/blank-profile-picture.png')}} 
									{% endif %}">
								<div class="customerProfileText">
									<div><b>First name:</b> {{drink_order['FIRST_NAME']}}</div>
									<div><b>Last name:</b> {{drink_order['LAST_NAME']}}</div>
									<div><b>Username: </b> {{drink_order['USERNAME']}}</div>
									<div><b>Purchase Method:</b> {{drink_order['PURCHASE_METHOD']}}</div>
								</div>		
							</div>	
						</div>	
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		{% endif %}

