<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Skippy Cup</title>	
	<link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{{url_for('static', filename='css/fontawesome-free-5.13.0-web/css/all.min.css')}}" rel="stylesheet">	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='js/Date-Time-Picker-Bootstrap-4/build/css/bootstrap-datetimepicker.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
	{% block stylesheets %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/Date-Time-Picker-Bootstrap-4/build/js/bootstrap-datetimepicker.min.js')}}"></script>	
	<script type="text/javascript" src="{{url_for('static', filename='js/common.js')}}"></script>
	{% block scripts %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}	
	<div id="footer">
		<div class="row d-md-flex d-none">
			<div class="col-6 flexStartFlexboxHorizonal">
				Copyright <i class="far fa-copyright"></i> 2020 Skippy Cup Inc.
				<br>All Rights Reserved
			</div>
			<div class="col-6 flexEndFlexboxHorizontal" style="text-align:right">		
				Email: skippycup@gmail.com <br>
				Phone: (123)-456-7890
			</div>
		</div>
		<div class="row d-block d-md-none">
			<div class="col-12 centerFlexboxVertical" style="align-items:center">
				<p class="footerText">Copyright <i class="far fa-copyright"></i> 2020 Skippy Cup Inc.</p>
				<p class="footerText">All Rights Reserved</p>
				<p class="footerText">Email: skippycup@gmail.com</p>
				<p class="footerText">Phone: (123)-456-7890</p>
			</div>
		</div>
	</div>
	</body>	
</html>
