<div class="customer-banner">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div id="bar-info" class="col-sm-4 col-9 center-col">
				<h5><i>{{ carts[0].bar_name }}</i></h5>
				<!-- <button type="button" class="btn-sm btn-primary">Change Bar</button> -->
			</div>
			<div id="bar-pic"class="col-sm-2 col-3">
				<img src="{{url_for('static', filename='data/bars/')}}{{carts[0].bar_id|default("1")}}.jpg" class="circle-img shadow" alt="image">
			</div>
			
			<div id="cust-info" class="col-sm-4 col-9">
				<h5><i>{{ customer['fullname'] }}</i></h5>
				<h5>&#64;{{ customer['username'] }}</h5>
			</div>
			<div id="cust-pic" class="col-sm-2 col-3">
				<img src="{{url_for('static', filename='data/users/')}}{{ customer['profile_picture'] }}.jpg" class="circle-img shadow" alt="image">
			</div>
		</div>
	</div>
</div>
