{% extends 'cust_base.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/customer.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/customer.js')}}"></script>
{% endblock %}

{% block content %}

<div id="customer-checkin">
{% include 'customer_checkin.html' %}
</div>

{% endblock %}
