{% extends 'cust_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/customer.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/customer.js')}}"></script>
{% endblock %}

{% block content %}

<div id="customer-banner">
{% include 'customer_banner.html' %}
</div>

{% if menus|length > 0 %}
	<div id="menu-selector">
	{% include 'menu_selector.html' %}
	</div>

	<div id="customer-menu">
	{% include 'customer_menu.html' %}
	</div>
{% endif %}

{% if menus|length < 1 %}
	{% include 'customer_warn.html' %}
{% endif %}
{% endblock %}
