<div class="customer-banner">
	<div class="container-fluid">
		<div class="row align-items-center">
			{% if menus|length > 0  %}
			<div id="bar-info" class="col-sm-4 col-9 center-col">
				<h5><i id="bar-name">{{ menus[0].bar_name|default("Bar Name") }}</i></h5>
				<div class="dropdown dropright dropdown-div-modal">
					<!--
					<button class="btn dropdown-toggle" type="button" id="drink-dropdown-modal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Switch Bar
					</button>
					-->
					<div class="dropdown-menu" aria-labelledby="drink-dropdown-modal">
						{% for menu in menus  %}
						<a id="{{ menu.bar_id }}" date-bar="{{menu}}" class="dropdown-item bar-pick">{{ menu.bar_name }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id="bar-pic"class="col-sm-2 col-3">
				<img src="{{url_for('static', filename='data/bars/')}}{{menus[0].bar_id|default("1")}}.jpg" class="circle-img shadow" alt="image">
			</div>
			{% endif %}
			{% if menus|length < 1  %}
			<div id="bar-info" class="col-sm-4 col-9 center-col">
				<h5><i id="bar-name"></i></h5>
			</div>
			<div id="bar-pic"class="col-sm-2 col-3">
			</div>
			{% endif %}
		
			<div id="cust-info" class="col-sm-4 col-9">
				<h5><i>{{ customer['fullname'] }}</i></h5>
				<h5>&#64;{{ customer['username'] }}</h5>
			</div>
			<div id="cust-pic" class="col-sm-2 col-3">
				<img src="{{url_for('static', filename='data/users/')}}{{ customer['profile_picture'] }}.jpg" class="circle-img shadow" alt="image">
			</div>
		</div>
	</div>
</div>
