	{% for menu in menus %}
	<div class="row menu-row menu-{{menu.bar_id}}">
		{% for item_id, drink in menu.drinks.items() %}
		<div class="col-sm-4 col-6 drink-all {{ drink.type }} Drink" data-toggle="modal" data-target="#drinkModal{{ drink.item_id }}">
			<div class="row drink-row">
				<div class="col-9 drink-info">
					<div class="card drink-card text-white shadow mb-3">
						<div class="card-body drink-card-body">
							<p class="card-text">{{ drink.name }}</p>
						</div>
					</div>
				</div>
				<div class="col-3 drink-pic">
					<img src="{{url_for('static', filename='data/items/')}}{{ drink.item_id }}.jpg" class="circle-img drink-img" alt="image">
				</div>
			</div>
		</div>

		<div class="modal fade" id="drinkModal{{ drink.item_id }}" tabindex="-1" role="dialog" aria-labelledby="drinkModalLabel{{ drink.item_id }}" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content drink-modal">
					<div class="modal-body">
						<div class="row drink-row-modal align-items-center">
							<div class="col-9 drink-header-modal">
								<h2 class="drink-name-modal" id="drinkModalLabel{{ drink.id }}">{{ drink.name }}</h2>
								{% if drink.brand != None %}
								<h4 class="drink-brand-modal" style="font-style: italic;">{{ drink.brand }}</h4>
								{% endif %}
								{% if drink.style[0].note|length > 1  %}
								<i id="noteLabelBar{{drink.item_id}}" class="drink-note-modal">{{ drink.style[0].note }}</i>
								{% endif %}
							</div>
							<div class="col-3 drink-pic">
								<img src="{{url_for('static', filename='data/items/')}}{{drink.item_id}}.jpg" class="sq-img drink-img shadow" alt="image">
							</div>
						</div>
						{% if drink.ingredients|length > 0  %}	
						<div class="row ingred-row-modal">
							{% for ingredient in drink.ingredients  %}
							<div class="col-3 ingred-pic">
								<img src="{{url_for('static', filename='data/ingredients/')}}{{ingredient.id}}.jpg" class="circle-img ingred-img shadow" alt="image">
								<h5 style="margin:0px;font-size:15px;">{{ ingredient.name }}</h5>
							</div>
							{% endfor  %}
						</div>
						{% endif  %}
						<div class="drink-col-modal">
							{% if 'size' in drink.style[0].keys() %}
							<h3 id="styleLabel{{drink.item_id}}">{{ drink.style[0].size }}oz. {{ drink.style[0].container }}</h3>
							{% if drink.style|length > 1  %}
							<div class="dropdown dropright dropdown-div-modal">
								<button class="btn dropdown-toggle" type="button" id="drink-dropdown-modal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Switch Style
								</button>
								<div class="dropdown-menu" aria-labelledby="drink-dropdown-modal">
									{% for style in drink.style  %}
									<a id="{{ style.drink_id }}" onClick="changeStyle({{drink}}, {{style}}, {{menu.bar_id}})" class="dropdown-item drink-style-modal">{{ style.size }}oz. {{ style.container }}</a>
									{% endfor %}
								</div>
							</div>
							{% endif  %}
							{% endif  %}
							<h3 id="priceLabel{{ drink.item_id }}">${{ drink.style[0].pricestr }}</h3>
						</div>
					</div>
					<form action="/add-to-cart" class="add-drink-form" method="POST">
						 <div class="form-group" style="margin:0px 20px;">
							<label>Special Instructions</label>
							<input type="text" class="form-control" name="note" id="noteLabel{{ drink.item_id }}" placeholder="Enter a note...">
						</div>
						<div id="didLabel{{ drink.item_id }}" style="visibility:collapse;">{{drink.style[0].drink_id}}</div>
						<div class="modal-footer">
							<div class="col-3">
								<h5 style="margin:0px;">Quantity</h5>
							</div>
							<div class="col-3">
								<input type="number" class="form-control" name="quantity" id="drinkQuantity-{{drink.item_id}}-{{menu.bar_id}}" name="quantity" placeholder="#" value=1>
							</div>
							<div class="col-6 centered">
								<input id="add-drink-drink-{{drink.item_id}}-{{menu.bar_id}}" style="display:none;" class="form-control" name="drink" value="{{ drink.style[0].drink_id }}"></input>
								<input id="add-drink-bar-{{drink.item_id}}-{{menu.bar_id}}" class="form-control" style="display:none;" name="bar" value="{{ menu.bar_id }}"></input>
								<button id="add-item-{{ drink.item_id }}-{{menu.bar_id}}" type="submit" class="btn skippy-btn add-drink-to-cart-btn" data-dismiss="moda">Add to Order</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
