<div class="customer-checkin">
	<div class="container-fluid">
		<div class="bar-checkin row align-items-center">
			<div id="bar-pic"class="col-md-2 col-12">
				<img src="{{url_for('static', filename='data/bars/')}}{{ bars[0]['bar_id'] }}.jpg" class="circle-img" alt="image">
			</div>
			<div id="bar-name" class="col-md-8 col-12 center-col">
				<h2 id="checkInBarName">{{ bars[0]['name'] }}</h2>
				<h4 id="checkInBarAddress">{{ bars[0]['street_address'] }}, {{bars[0]['city'] }}, {{bars[0]['state']}}</h4>
			</div>
			<div id="bar-info" class="col-md-2 col-12 center-col">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="bar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Switch Bar
					</button>
					<div class="dropdown-menu" aria-labelledby="bar-dropdown">
						{% for bar in bars %}
						<button id="bar-checkin-{{ bar['bar_id'] }}" value="{{ bar['bar_id'] }}" data-bar="{{bar['string']}}" class="bar-item dropdown-item" type="button">{{ bar['name'] }}</button>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% if checkins|length > 0 %}
		<div class="checkin-warn row align-items-center">
			<div class="col-12">
				<h3 class="checkin-warn-title">You are already checked in at {{ checkins[0]['bar_name'] }}</h3>
				<a class="btn warn-menu-btn" href="{{url_for('customer')}}">Go to Menu!</a>
			</div>
		</div>
		{% endif %}
		<div class="checkin-offers row align-items-center">
			{% for plan in plans %}
			<div class="col-md-4 col-12">
				<div class="card checkin-card mb-3" style="max-width: 18rem;">
					<div class="checkin-header card-header">{{ plan['name'] }}</div>
					<div class="checkin-body card-body text-primary">
						<h1 class="checkin-price">${{plan['price']}}</h1>
						<form action="/create-checkin" method="POST">
							<input style="display:none;" class="form-control" name="plan" value="{{plan['string'] }}"></input>
							<input class="checkInBar form-control" style="display:none;" name="bar" value="{{ bars[0]['string']}}"></input>
							<button id="checkin-{{ plan['type']}}" type="submit" class="btn checkin-btn">Buy Plan</button>
						</form>
					</div>
				</div>	
			</div>
			{% endfor %}
		</div>
	</div>
</div>
