{% extends 'base.html' %}

{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/customer.css')}}">
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/bartender_jquery.js')}}"></script>
{% endblock %}


{% block body %}
<div id="mask">
    <div id="maskBox">
        <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
        <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark skippy-nav">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{{url_for('customer')}}">
		<img src="{{ url_for('static', filename='data/beer.png') }}" width="30" height="30" class="d-inline-block align-top"> Skippy Cup </img>
	</a>

	<a href="{{ url_for('checkout') }}">
		<span><i id="checkout" class="fas fa-2x fa-shopping-cart" style="color: rgba(255, 255, 255, 0.5);"></i></span>
	</a>
	<a data-toggle="modal" data-target="#qrModal">
		<span><i id="qr" class="fas fa-2x fa-qrcode" style="color: rgba(255, 255, 255, 0.5);"></i></span>
	</a>

	<!-- QR Code Modal -->
	<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Your QR Code</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img style="width:100%;" src="{{url_for('static', filename='data/qr_codes/')}}{{ customer['cust_id'] }}.png"></img>
				</div>
			</div>
		</div>
	</div>


  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="none" id="selectedNav" value="{{ url_for(request.endpoint) }}"></div>
	<ul class="navbar-nav">
      <li class="nav-item" id="menu">
        <a class="nav-link" id="menu-nav" href="{{url_for('customer')}}"><i class="fas fa-cocktail"></i> Menu</a>
      </li>
      <li class="nav-item" id="checkin">
		<a class="nav-link" id="checkin-nav" href="{{url_for('checkin')}}"><i class="fas fa-check"></i> Check In</a>
      </li>  
	  <li class="nav-item" id="orders">
        <a class="nav-link" id="orders-nav" href="{{url_for('orders')}}"><i class="fas fa-chart-bar"></i> Orders</a>
      </li>
      <li class="nav-item" id="settings">
        <a class="nav-link" id="settings-nav" href="{{url_for('customer')}}"><i class="fas fa-cog"></i> Settings</a>
      </li>
      <li class="nav-item" id="logout">
        <a class="nav-link" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>


<div id="customer-all">
{% block content %}{% endblock %}
</div>

<!-- Modal -->
<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="theModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="theModalBody"></div>
      <div class="modal-footer">
        <button type="button" id="theModalButton1" class="modalButton orderButton dropButton" data-dismiss="modal"></button>
        <button type="button" id="theModalButton2" class="modalButton orderButton prepareNotifyButton"></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
