{% if purchases|length > 1%}
<div class="purchase-warn row align-items-center">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-12">
		<h3 class="purchase-warn-title">You already have a purchase made</h3>
		<a class="btn checkin-btn" href="{{url_for('orders')}}">Go to Your Order!</a>
	</div>
	<div class="col-md-2"></div>
</div>
{% endif %}
<div class="orders-container">

	<h1 class="orders-title">Your Current Cart</h1>
	<table class="table table-striped table-dark orders-table">
		<thead>
			<tr style="text-align: center;">
				<th scope="col">Name</th>
				<th class="d-none d-md-table-cell" scope="col">Note</th>
				<th scope="col">Quantity</th>
				<th class="d-none d-md-table-cell" scope="col">Price per Drink</th>
				<th scope="col">Price</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% if carts[0].drinks|length < 1 %}
			<tr style="height: 63px;">
				<th></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			{% endif %}
			{% for drink in carts[0].drinks%}
			<tr style="text-align: center;">
				<th class="skippy-td" scope="row">{{ drink.name }}
				{% if drink.size_ounces > 0 %} ({{ drink.size_ounces }} oz.
				{% endif %}
				{% if drink.container != "N/A" %}{{ drink.container }}{% endif %}{% if drink.container != "N/A" or drink.size_ounces > 0%}){% endif %}
				</th>
				<td class="skippy-td d-none d-md-table-cell">{{ drink.cust_note if drink.cust_note != None else "" }}</td>
				<td class="skippy-td">{{ drink.quantity }}</td>
				<td class="skippy-td d-none d-md-table-cell">${{'%0.2f'| format(drink.price|float)}}</td>
				<td class="skippy-td">${{'%0.2f'| format(drink.price * drink.quantity|float)}}</td>
				<td class="skippy-td"><button class="btn skippy-btn" data-toggle="modal" data-target="#editOrderModal-{{drink.drink_id}}">Edit</button></td>
			</tr>
			<div class="modal fade" id="editOrderModal-{{drink.drink_id}}" tabindex="-1" role="dialog" aria-labelledby="editOrderModal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">{{ drink.name }}
                {% if drink.size_ounces > 0 %} ({{ drink.size_ounces }} oz.
                {% endif %}
				{% if drink.container != "N/A" %}{{ drink.container }}{% endif %}{% if drink.container != "N/A" or drink.size_ounces > 0%}){% endif %}</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						
						<form action="/update-drink" method="POST">
							<div class="modal-body">
								<h4>Price: ${{'%0.2f'| format(drink.price|float)}}</h4>
								<div class="form-group">
									<label for="exampleQuantity">Quantity</label>
									<input class="form-control" id="quantityNew" name="quantity" type="number" value="{{drink.quantity}}"></input>	
									<input class="form-control none" id="drinkID" name="drink_id" type="text" value="{{drink.drink_id}}"></input>	
									<input class="form-control none" id="cartID" name="cart_id" type="text" value="{{carts[0].cart_id}}"></input>	
								</div>		
							</div>
							<div class="modal-footer">
								<button name="button" value="0" type="submit" class="btn btn-danger">Delete Drink</button>
								<button name="button" value="1" type="submit" class="btn skippy-btn">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% endfor %}
		</tbody>
	</table>
	<div class="spacing-div"></div>
	<div class="row align-items-center">
		<div class="col-6 col-md-9 checkout-col">
			<button type="submit" style="float: right;" class="btn btn-lg skippy-btn" data-toggle="modal" data-target="#confirmCheckoutModal">Confirm Checkout</button>
			<div class="modal fade" id="confirmCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="confirmCheckoutModal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Confirm Purchase?</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						
						<form action="/confirm-purchase" method="POST" style="text-align: -webkit-center;">
							<div class="modal-body">
								<h1 style="padding: 0px;">Total: ${{'%0.2f'| format(carts[0].cost|float)}}</h1>
								<h4 for="tip-label">Tip</h4>
								<div class="tip-div">
									<div class="input-group mb-3">
										
										<div class="input-group-prepend">
											<span class="input-group-text">$</span>
										</div>
										<input type="float" name="tip" class="form-control" aria-label="Tip Amount">
									</div>

									<input class="form-control none" id="cartID" name="cart_id" type="text" value="{{carts[0].cart_id}}"></input>	
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-danger" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn skippy-btn">Confirm</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 col-md-3 checkout-col">
			<table class="table table-striped table-dark total-table">
				<thead>
					<tr style="text-align: center;">
						<th scope="col">Total</th>
					</tr>
				</thead>
					<tr style="text-align: center;">
						<td class="skippy-td" scope="col"> ${{'%0.2f'| format(carts[0].cost|float) }}</td>
					</tr>
				<tbody>
					
				</tbody>
			</table>
		
		</div>
	</div>
</div>
