

<div class="menu-warn row align-items-center">
	<div class="col-md-3"></div>
	<div class="col-md-6 col-12">
		<h3 class="menu-warn-title">You are not checked in to any bars yet</h3>
		<a class="btn checkin-btn" href="{{url_for('checkin')}}">Go to Check In!</a>
	</div>
	<div class="col-md-3"></div>
</div>


