{% if purchases|length < 1%}
<div class="purchase-warn row align-items-center">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-12">
		<h3 class="purchase-warn-title">You have not made a purchase yet</h3>
		<a class="btn checkin-btn" href="{{url_for('customer')}}">Go to the Menu!</a>
	</div>
	<div class="col-md-2"></div>
</div>
{% endif %}
<div class="purchases-container">
	{% for purchase in purchases%}
	<div class="jumbotron order-screen shadow">
		<h2 class="purchases-title">Your Purchase</h2>
		<p class="lead"></p>
		<div class="row purchases-info-row">
			<div class="col-1 col-md-2">
			</div>
			<div class="col-10 col-md-8">
				<h5>Order #{{ purchase.purchase_id }}</h5>
				<h5>Ordered on {{ purchase.order_time_str }}</h5>
				<h5>Drink Total: ${{'%0.2f'| format(purchase.cost|float)}}</h5>
				{% if purchase.tip > 0%}
				<h5>Tip: ${{'%0.2f'| format(purchase.tip|float)}}</h5>
				{% endif %}
			</div>
			<div class="col-1 col-md-2">
			</div>
		</div>
		<div class="row purchases-status-row">
			{% if True%}
			<div class="col-12 col-md-4 status-col">
				<span><i id="check" class="fas fa-2x fa-check" style="color: green;"></i></span>
				<h4 class="status-title">Order Confirmed</h4>
			</div>
			{% endif %}
			{% if purchase.drink_prepared == 1%}
			<div class="col-12 col-md-4 status-col">
				<span><i id="check" class="fas fa-2x fa-check" style="color: green;"></i></span>
				<h4 class="status-title">Drink Prepared</h4>
			</div>
			{% endif %}
			{% if purchase.drink_prepared == 0%}
			<div class="col-12 col-md-4 status-col">
				<div class="spinner-border text-danger" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<h4 class="status-title">Preparing Drinks</h4>
			</div>
			{% endif %}
			{% if purchase.picked_up == 1%}
			<div class="col-12 col-md-4 status-col">
				<span><i id="check" class="fas fa-2x fa-check" style="color: green;"></i></span>
				<h4 class="status-title">Order picked up, Enjoy!</h4>
			</div>
			{% endif %}
			{% if purchase.picked_up == 0 and purchase.drink_prepared == 0%}
			<div class="col-12 col-md-4 status-col">
				<div class="spinner-border text-dark" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<h4 class="status-title">Waiting...</h4>
			</div>
			{% endif %}
			{% if purchase.picked_up == 0 and purchase.drink_prepared == 1%}
			<div class="col-12 col-md-4 status-col">
				<div class="spinner-border text-danger" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<h4 class="status-title">Ready for Pick Up</h4>
			</div>
			{% endif %}
		</div>
		<p></p>
	</div>
	{% endfor %}
</div>
