{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/common.js')}}"></script>
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col">

			<h1>Customer Dashboard</h1>
			</hr>

			<div class="card">
				<div class="card-body">
					<h4>{{ user["username"] }}</h4>
					</hr>
					<p class="text-muted">{{ user["bio"] }}</p>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block data %}
{% endblock %}
