{% extends 'bar_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/earnings.css')}}">
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/earnings.js')}}"></script>
{% endblock %}

{% block content %}
<h2 style="padding-bottom:0px">Earnings</h2>
<div class="centerFlexboxHorizontal" id="sort-earnings-select">
    <div id="sort-earnings-select-text">Range: </div>
    <select onchange="changeChartRange(this.value)">
        <option value="last_week">Last Week</option>
        <option value="last_month" selected>Last Month</option>
        <option value="all_time">All Time</option>
    </select>
</div>

<div class="row">
	<div class="col-lg-6 col-12 centerFlexboxVertical earnings-column">
		<canvas id="myChart"></canvas>
	</div>
	<div class="col-lg-6 col-12 centerFlexboxVertical earnings-column">
<table class="table table-bordered table-sm">
  <tbody>
    <tr>
      <th class="section-header" scope="row" colspan="4">Skippy Cup Revenue</td>
    </tr>
    <tr>
      <th scope="col"></th>
      <th class="text-center" scope="col">Purchase</th>
      <th class="text-center" scope="col">Tip</th>
      <th class="text-center" scope="col">Total</th>
    </tr>
    <tr>
      <th class="text-center" scope="row">Sum</th>
      <td id="TOTAL_PURCHASE_REVENUE"></td>
      <td id="TOTAL_TIP_REVENUE"></td>
      <td id="TOTAL_REVENUE"></td>
    </tr>
    <tr>
      <th class="text-center" scope="row">Average</th>
      <td><span id="AVG_PURCHASE_REVENUE"></span></td>
      <td><span id="AVG_TIP_REVENUE"></span></td>
      <td><span id="AVG_REVENUE"></span></td>
    </tr>
    <tr>
      <th class="section-header" scope="row" colspan="4">Purchase Methods</td>
    </tr>
    <tr>
      <th scope="col"></th>
      <th class="text-center" scope="col">Card</th>
      <th class="text-center" scope="col">Venmo</th>
      <th class="text-center" scope="col">Paypal</th>
    </tr>
    <tr>
	  <th class="text-center" scope="row">Frequency</th>	
      <td><span id="CARD_FREQUENCY"></span></td>
      <td><span id="VENMO_FREQUENCY"></span></td>
      <td><span id="PAYPAL_FREQUENCY"></span></td>
    </tr>
  </tbody>
</table>
	</div>	
</div>
{% endblock %}
