{% extends 'base.html' %}

{% block stylesheets %} <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">{% endblock %}
{% block scripts %}<script src="{{url_for('static', filename='js/index.js')}}"></script>{% endblock %}


{% block body %}

<div id="refreshButtonDiv" class="flexEndFlexboxHorizontal alignCenter"><button onclick="showRefreshSettings()" id="refresh-settings-button" class="dropButton orderButton"><i class="fas fa-info-circle"></i> Refresh</button></div>
<div class="container centerFlexboxVertical alignCenter" id="contentContainer" class="whole-viewport" style="background:url('{{url_for('static', filename='data/login-image-final.jpeg')}}'); background-size:cover">
	<div class="row">
		<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
			<div id="log-in" class="centerFlexboxVertical alignCenter">
				<div class="skippy-icon-div centerFlexboxHorizontal">
					<img class="skippy-icon-circle" src="{{url_for('static', filename='data/beer.png')}}">
				</div>
				<div class="centerFlexboxHorizontal alignCenter">
					<h2 class="form-header">Customer & Bar Login</h2>
					<div class="spinner-border text-warning" id="login-spinner" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="form-group alert alert-warning" id="invalid-login-alert">
					<b>Invalid username/password combo.</b> Try again.
				</div>
				<div class="form-group">
				    <div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text">@</div></div>
				    <input type="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username">
				  </div>
				  </div>
				  <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><div class="input-group-text"><i class="fas fa-lock"></i></div></div>
				    <input type="password" class="form-control" id="password" placeholder="Password">
                                  </div>
				  </div>
				 <button class="btn" id="confirm-button" onclick="logIn()">LOG IN</button>
				<div id="create-account-message">Don't have a customer account? <a class="create-account-link" href="#">Sign up</a>.</div>
			</div>	
			<div id="create-account" class="centerFlexboxVertical alignCenter">
				<div class="skippy-icon-div centerFlexboxHorizontal">
					<img class="skippy-icon-circle" src="{{url_for('static', filename='data/beer.png')}}">
				</div>
				<div class="centerFlexboxHorizontal alignCenter">
					<h2 class="form-header">New Customer</h2>
					<div class="spinner-border text-warning" id="create-account-spinner" role="status">
  						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="form-group alert alert-warning" id="invalid-create-account-alert">
					<b>Invalid registration.</b> <span id="invalid-create-account-message"></span>
				</div>	
				<div class="form-group">
				    <div class="input-group">
						<div class="input-group-prepend"><div class="input-group-text"><i class="fas fa-user"></i></div></div>
				    	<input type="text" class="form-control" id="first-name" aria-describedby="email" placeholder="First Name">
				  	</div>
				</div>
				<div class="form-group">
				    <div class="input-group">
						<div class="input-group-prepend"><div class="input-group-text"><i class="fas fa-user"></i></div></div>
				    	<input type="text" class="form-control" id="last-name" aria-describedby="email" placeholder="Last Name">
				  	</div>
				</div>
				<div class="form-group">
				    <div class="input-group">
						<div class="input-group-prepend"><div class="input-group-text"><i class="fas fa-envelope"></i></div></div>
				    	<input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email">
				  	</div>
				</div>
				<div class="form-group">
				    <div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text">@</div></div>
				    <input type="username" class="form-control" id="username-create" aria-describedby="emailHelp" placeholder="Username">
				  </div>
				  </div>
				  <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><div class="input-group-text"><i class="fas fa-lock"></i></div></div>
				    <input type="password" class="form-control" id="password-create" placeholder="Password">
                                  </div>
				  </div>
				 <button class="btn" id="confirm-button" onclick="createAccount()">CREATE ACCOUNT</button>
				<div id="create-account-message">To register your bar with Skippy Cup, email <span class="email-link">skippycup@gmail.com</span>. <a class="login-link" href="#">Back to login</a>.</div>
			</div>		
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="theModalTitle"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="theModalBody"></div>
      <div class="modal-footer">
        <button type="button" id="theModalButton1" class="modalButton orderButton dropButton closeFirstModal"></button>
        <button type="button" id="theModalButton2" class="modalButton orderButton prepareNotifyButton"></button>
      </div>
    </div>
  </div>
</div>
<!-- Warning Modal -->
<div class="modal fade" id="theWarningModal" tabindex="-1" role="dialog" aria-labelledby="theModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="theModalTitle">Cancel Changes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="theWarningModalBody"><b>Are you sure you want to cancel?</b> Changes will not be saved.</div>
      <div class="modal-footer">
        <button type="button" id="theWarningModalButton1" class="modalButton orderButton dropButton reopenFirstModal">Continue</button>
        <button type="button" id="theWarningModalButton2" class="modalButton orderButton prepareNotifyButton confirmClosed" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
