{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/common.js')}}"></script>
{% endblock %}

{% block body %}

<div class="screen">
	<div class="container spaced">
		<div class="alert main-button-color" role="alert">
			Please Login
		</div>
		<div>
			<form action="/login" method="POST">
				<div class="form-group">
					<label>Username</label>
					<input class="form-control" type="text" name="username">				
				</div>

				<div class="form-group">
					<label>Password</label>
					<input class="form-control" type="password" name="password">				
				</div>

				<button type="submit" name="button" value="login" id="loginButton" class="btn main-button-color row-spaced">Login</button>
				<button id="registerButton" name="button" value="create-user" class="btn main-button-color">Create User</button>
			</form>
		</div>
	</div>
</div>


{% endblock %}

{% block data %}
{% endblock %}
