<div class="menu-selector">
	<div class="container-fluid">


		<div class="menu-selector-row">
			<button id="Beer" onClick="changeView(this.id)" class="menu-selector-btn selected">
				Beer
			</button>
			<button id="Cocktail" onClick="changeView(this.id)" class="menu-selector-btn">
				Mixed Drinks
			</button>
			<button id="Shot" onClick="changeView(this.id)" class="menu-selector-btn">
				Shots
			</button>
		</div>
	</div>
</div>
