{% extends 'bar_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/qr_validator.css')}}">
{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
<div class="whole-viewport centerFlexboxVertical alignCenter">
	<div class="row">
		<div class="col-lg-3 offset-lg-3 col-md-4 offset-md-2 col-sm-5 offset-sm-1 col-6">
			<img class="profile-picture" src="
				{% if customer['PROFILE_PICTURE'] %}
					{{url_for('static', filename='data/users/' ~ customer['CUST_ID'] ~'.jpg')}}
				{% else %}
					{{url_for('static', filename='data/blank-profile-picture.png')}}
				{% endif %}
			">	
		</div>
		<div class="col-lg-3 col-md-4 col-sm-5 col-6">
			<div class="fname-lname-username centerFlexboxVertical alignCenter" style="background-color:
				{% if customer['CT'] > 0 %}
					#63C9D7;	
				{% else %}
					rgba(248,193,83, 0.9)
				{% endif %}
				">
				<div class="first-last-name">{{ customer['FIRST_NAME'] }} {{ customer['LAST_NAME'] }}</div>
				<div class="username">@<b>{{ customer['USERNAME']}}</b></div>
			</div>	
		</div>
	</div>
	<div class="row" id="status-row">
		<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
			{% if customer['CT'] > 0 %}
				<div class="alert alert-success"><strong>Good to go!</strong> This user is all checked in.</div>
			{% else %}
				<div class="alert alert-warning"><strong>Uh oh!</strong> Looks like this user hasn't checked into this bar tonight. Make sure they have a valid checkin.</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
