{% extends 'bar_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/settings.js')}}"></script>
{% endblock %}

{% block content %}
<div class="settingsHeader leftText">
	<h2>Account</h2>
	<form>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12 order-2 order-md-1 order-lg-2">
				<div class="form-group mb-3">
					<label for="username">Username</label>
					<div class="input-group">
  						<div class="input-group-prepend">
    						<span class="input-group-text" id="basic-addon1">@</span>
  						</div>
  						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ bar['USERNAME'] }}" id="username" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
					</div>
					<div class="invalid-feedback">
        				Not saved. This username is shorter than 7 characters or already exists.
      				</div>
					<div class="valid-feedback">
        				Saved!
      				</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-6 col-12 order-1 order-md-2 order-lg-1">
				<div class="form-group mb-3">
					<label for="email">Email</label>
					<div class="input-group">
  						<div class="input-group-prepend">
    						<span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
  						</div>
  						<input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" value="{{ bar['EMAIL'] }}" id="email" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
					</div>
					<div class="invalid-feedback">
        				Not saved. Please use a valid email format.
      				</div>
					<div class="valid-feedback">
        				Saved!
      				</div>
				</div>	
			</div>
			<div class="col-lg-4 col-md-6 col-12 order-last">
				<div class="form-group mb-3">
					<label for="password">Password</label>
					<div class="input-group">
  						<div class="input-group-prepend">
    						<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
  						</div>
  						<input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" disabled id="password" value="{{10  * ' '}}">
						<button type="button" class="barInformationButton inputTopper" onclick="changePassword({{bar['BAR_ID']}})">Change</button>
					</div>
				</div>	
			</div>
		</div>
	</form>
	<!--<div class="saveMessage">Saving...</div>-->
</div>
<hr>
<div class="settingsHeader leftText">
	<h2>Location</h2>
	<form>
		<div class="row">
			<div class="col-12 col-xs-4">
				<div class="form-group mb-3">
					<label for="street_address">Street Address</label>
  					<input type="text" class="form-control" placeholder="123 Main St." aria-label="Street Address" aria-describedby="basic-addon1" id="street_address" value="{{bar['STREET_ADDRESS']}}" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
				</div>
				<div class="valid-feedback">
        			Saved!
      			</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="form-group mb-3">
					<label for="city">City</label>
  					<input type="text" class="form-control" placeholder="Barville" aria-label="City" aria-describedby="basic-addon1" id="city" value="{{bar['CITY']}}" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
				</div>
				<div class="valid-feedback">
        			Saved!
      			</div>
			</div>
			<div class="col-6 col-sm-4">
				<div class="form-group mb-3">
					<label for="state">State</label>
  					<input type="text" class="form-control" placeholder="FL" aria-label="State" aria-describedby="basic-addon1" id="state" value="{{ bar['STATE'] }}" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
					<div class="invalid-feedback">
        				Not saved. Invalid two-letter state abbreviation.
      				</div>
					<div class="valid-feedback">
        				Saved!
      				</div>
				</div>	
			</div>
			<div class="col-6 col-sm-4">
				<div class="form-group mb-3">
					<label for="zip">Zip</label>
  					<input type="text" class="form-control" placeholder="12345" aria-label="Zip" aria-describedby="basic-addon1" id="zip" value="{{ bar['ZIP'] }}" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
					<div class="invalid-feedback">
        				Not saved. Invalid five-digit (ex. 12345) or nine-digit (12345-6789) zip code.
      				</div>
					<div class="valid-feedback">
        				Saved!
      				</div>
				</div>	
			</div>
		</div>
	</form>
</div>

<hr>
<div class="settingsHeader leftText">
	<h2>Contact Information</h2>
	<form>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="form-group mb-3">
					<label for="phone">Phone Number</label>
  					<input type="tel" class="form-control" placeholder="(123)-456-7890" aria-label="phone" aria-describedby="basic-addon1" id="phone_number" value="{{ bar['PHONE_NUMBER'] }}" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
					<div class="invalid-feedback">
        				Not saved. Invalid phone number of format (123)-456-7890.
      				</div>
					<div class="valid-feedback">
        				Saved!
      				</div>
				</div>	
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group mb-3">
					<label for="website">Website URL</label>
  					<input type="url" class="form-control" placeholder="https://barwebsite.com" aria-label="website_url" aria-describedby="basic-addon1" id="website_url" value="{{ bar['WEBSITE_URL'] }}" onkeyup="validate_input(this, {{bar['BAR_ID']}})">
					<div class="invalid-feedback">
        				Not saved. Tip: a valid website URL starts with http:// or https://.
      				</div>
					<div class="valid-feedback">
        				Saved!
      				</div>
				</div>	
			</div>
		</div>
	</form>
</div>

<hr>
<div class="settingsHeader leftText">
	<h2>Profile Picture</h2>


	<form id="barProfilePictureForm" name="barProfilePictureForm" enctype="multipart/form-data">
		<fieldset>
		<label>
			<div id="barProfilePictureDiv" class="profilePictureDiv">
				<img class="profilePicture" id="barProfilePicture" src="
					{% if bar['PROFILE_PICTURE'] %}
						{{url_for('static', filename='data/bars/' ~ bar['BAR_ID'] ~ '.jpg')}} 	
					{% else %}
						{{url_for('static', filename='data/blank-profile-picture.png')}}
					{% endif %}
				">
				<div class="profilePictureBanner"><i class="fas fa-cloud-upload-alt"></i> Upload Image</div>
			</div>
    	<input type="file" id="barProfilePictureInput" id="profile" name="profile" accept=".jpg" onchange="fileToUploadChosen(this.files[0], {{bar['BAR_ID']}})">
					<div class="invalid-feedback">
        				Not saved. Tip: a valid website URL starts with http:// or https://.
      				</div>
		</label>
		<!--<input type="submit" class="btn btn-primary" value="submit">-->
		</fieldset>
	</form>
</div>

{% endblock %}
