{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/common.js')}}"></script>
{% endblock %}

{% block body %}

<div class="screen">
	<div class="container spaced">
		<div class="alert main-button-color" role="alert">
			Please Create User
		</div>
		<div>
			<form action="/signup" method="POST">
				<div class="form-group">
					<label>First Name</label>
					<input class="form-control" type="text" name="firstname" placeholder="ex. Ramzi" required>				
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input class="form-control" type="text" name="lastname" placeholder="ex. Bualuan" required>				
				</div>
				
				<div class="form-group">
					<label>Username</label>
					<input class="form-control" type="text" name="username" required>				
				</div>

				<div class="form-group">
					<label>Password</label>
					<input class="form-control" type="password" name="password" required>				
				</div>

				<button type="Submit" name="button" value="create-user" id="createUserButton" class="btn main-button-color row-spaced">Create User</button>
				<button id=loginButton" name="button" value="login" class="btn main-button-color">Login</button>
			</form>
		</div>
	</div>
</div>


<!--

<div class="container">
	<div class="row">
		<div class="col">

			<h1>Sign In</h1>
			</hr>

			<form action="/login" method="POST">

				<div class="form-group">
					<label>Username</label>
					<input class="form-control" type="text" name="username">				
				</div>

				<div class="form-group">
					<label>Password</label>
					<input class="form-control" type="password" name="password">				
				</div>


				<button type="Submit" class="btn btn-primary">Sign In</button>

			</form>

		</div>
	</div>
</div>

-->

{% endblock %}

{% block data %}
{% endblock %}
