{% for menu_item in menu_items %}
<div class="col-6 col-md-4 col-lg-3 menu-item-column centerFlexboxHorizontal">
<div class="menu-item-modal-launcher centerFlexboxVertical" onclick="grabExistingMenuItem({{menu_item[0]}})">
	<span class="badge badge-pill skippy-badge skippy-absolute">{{loop.index}}</span>
		<div class="menu-item-div spaceAroundFlexboxVertical alignCenter">
			<div class="menu-item-price">
				<i class="fas fa-dollar-sign"></i>
				{{menu_item[8]}} 
			</div>
			<div class="menu-item-name-brand centerFlexboxVertical">
				<div class="menu-item-name">
					<div class="menu-item-name-text centerFlexboxHorizontal alignCenter">{{ menu_item[2] }} 
						{% if menu_item[7] %}
						<span class="badge badge-pill skippy-badge skippy-static">S</span>
						{% endif %}
					</div>
				</div>
				{% if menu_item[3] %}
				<div class="menu-item-brand">
					({{menu_item[3]}})
				</div>	
				{% else %}
				<div class="menu-item-brand">(Mixed Drink)</div>
				{% endif %}
			</div>
			<div class="centerFlexboxHorizontal menu-item-size-container">
				{% if menu_item[5] %}
				<div class="menu-item-size">
					<i class="fas fa-ruler-vertical"></i>
					{{menu_item[5]}} oz
				</div>
				{% endif %}
				{% if menu_item[6] != "N/A" %}
				<div class="menu-item-container">
					<i class="fas fa-mug-hot"></i>
					{{ menu_item[6] }}
				</div>
				{% endif %}
				{% if not menu_item[5] and menu_item[6] == "N/A" %}
				<i class="fas fa-minus"></i>
				{% endif %}
			</div>
		</div>
		{% if menu_item[4] %}
		<div class="menu-item-image-div">
			<img class="menu-item-image" src="{{ url_for('static', filename='data/items/' ~ menu_item[1] ~ '.jpg')}}">
		</div>
		{% endif %}
</div>
</div>
{% endfor %}

