{% extends 'bar_base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/update_menu.css')}}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/update_menu.js')}}"></script>
{% endblock %}

{% block content %}
<h2 style="padding-bottom:0px">Update Menu</h2>

<div class="centerFlexboxHorizontal" id="sort-menu-select">
	<div id="sort-menu-select-text">Sort By:</div>
	<select onchange="changeMenuOrder(this.value)">
		<option value="item-name-a-z">Item Name A-Z</option>
		<option value="item-name-z-a">Item Name Z-A</option>
		<option value="cheapest-items-first">Cheapest Items First</option>
		<option value="expensive-items-first">Expensive Items First</option>
		<option value="specials-first">Specials First</option>
		<option value="specials-last">Specials Last</option>
	</select>
</div>

<div class="row" id="menu-item-row">
	<div class="col-6 col-md-4 col-lg-3 menu-item-column centerFlexboxHorizontal">
		<div class="menu-item-modal-launcher add-item-modal-launcher centerFlexboxVertical" onclick="openMenuItemLanding()">
				<div class="add-item-div centerFlexboxHorizontal alignCenter">
					<div id="add-item-icon-div" class="centerFlexboxVertical"><i class="fa fa-plus add-item-icon"></i></div>
					<div class="add-item-text">New<br>Item</div> 
				</div>	
		</div>
	</div>
	{% include 'update_menu_data.html' %}
</div>

{% endblock %}
